<div {{attributes}}>
	<div {{ swipper_attributes.addClass('') }}>
		<div class="swiper-wrapper">
			{% for row in rows %}
			<div {{row.attributes}}>
				{{ row|without('attributes') }}
			</div>
			{% endfor %}
		</div>
		{#
			carousel-hero -- carousel-nav
			carousel-testy -- carousel-nav carousel-nav--black d-flex justify-content-center
			carousel-nav-testy -- carousel-nav carousel-nav--carree carousel-nav--black d-flex justify-content-center
			carousel-testy-nav-rond -- carousel-nav carousel-nav--black d-flex justify-content-center
			blog-carousel -- carousel-rond
			thumbs-carousel -- carousel-nav
		#}
		<!-- If we need pagination -->
		{% include '@fullswiperoptions/includes/fullswiperoptions--navigation.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--pagination.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--scrollbar.html.twig' %}	
	</div>
</div>