<div {{attributes}}>
	<div {{ swipper_attributes.addClass('swiper') }}>
		<div class="swiper-wrapper">
			{% for row in rows %}
			<div {{row.attributes}}>
				{{ row|without('attributes') }}
			</div>
			{% endfor %}
		</div>
		{% include '@fullswiperoptions/includes/fullswiperoptions--navigation.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--pagination.html.twig' %}
			{% include '@fullswiperoptions/includes/fullswiperoptions--scrollbar.html.twig' %}	
	</div>
</div>